[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
  url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/golden-ratio"]
  path = vim/bundle/golden-ratio
  url = git://github.com/vim-scripts/golden-ratio.git
[submodule "vim/bundle/vim-twig"]
  path = vim/bundle/vim-twig
  url = https://github.com/beyondwords/vim-twig.git 
